<?xml version="1.0" encoding="UTF-8"?>
<!-- Foundation -->
<window id="4">
	<defaultcontrol always="true">50</defaultcontrol>
	<allowoverlay>yes</allowoverlay>

	<controls>

		<include>GlobalBackgroundOL</include>

		<control type="image" id="21">
			<posx>39</posx>
			<posy>34</posy>
			<width>32</width>
			<height>171</height>
			<texture>boog.png</texture>
		</control>

		<description>Container</description>
		<control type="list" id="50">
			<posx>36</posx>
			<posy>30</posy>
			<width>310</width>
			<height>177</height>
			<onup>9000</onup>
			<ondown>9000</ondown>
			<onleft>500</onleft>
			<onright>700</onright>
			<viewtype label="535">list</viewtype>
			<scrolltime>200</scrolltime>

			<description>Item layout niet gefocussed</description>
			<itemlayout width="240" height="29">

				<control type="label">
					<posx>40</posx>
					<width>267</width>
					<height>29</height>
					<font>Medium</font>
					<textcolor>ffed6504</textcolor>
					<label>$INFO[ListItem.Label]</label>
				</control>

			</itemlayout>

			<description>Item layout wel gefocussed</description>
			<focusedlayout width="240" height="29" id="69">

				<control type="label" id="15">
					<posx>40</posx>
					<width>267</width>
					<height>29</height>
					<font>Medium</font>
					<textcolor>ffffffff</textcolor>
					<label>$INFO[ListItem.Label]</label>
					<scroll>true</scroll>
				</control>

				<control type="image">
					<posx>0</posx>
					<width>36</width>
					<height>29</height>
					<texture>other_textures/pointer0.png</texture>
					<animation effect="fade" start="100" end="50" condition="!Control.HasFocus(50)">Conditional</animation>
					<visible>substring(Container(50).Position(15),0)</visible>
				</control>
				<control type="image">
					<posx>0</posx>
					<width>36</width>
					<height>29</height>
					<texture>other_textures/pointer1.png</texture>
					<animation effect="fade" start="100" end="50" condition="!Control.HasFocus(50)">Conditional</animation>
					<visible>substring(Container(50).Position(15),1)</visible>
				</control>
				<control type="image">
					<posx>0</posx>
					<width>36</width>
					<height>29</height>
					<texture>other_textures/pointer2.png</texture>
					<animation effect="fade" start="100" end="50" condition="!Control.HasFocus(50)">Conditional</animation>
					<visible>substring(Container(50).Position(15),2)</visible>
				</control>
				<control type="image">
					<posx>0</posx>
					<width>36</width>
					<height>29</height>
					<texture>other_textures/pointer3.png</texture>
					<animation effect="fade" start="100" end="50" condition="!Control.HasFocus(50)">Conditional</animation>
					<visible>substring(Container(50).Position(15),3)</visible>
				</control>
				<control type="image">
					<posx>0</posx>
					<width>36</width>
					<height>29</height>
					<texture>other_textures/pointer4.png</texture>
					<animation effect="fade" start="100" end="50" condition="!Control.HasFocus(50)">Conditional</animation>
					<visible>substring(Container(50).Position(15),4)</visible>
				</control>
				<control type="image">
					<posx>0</posx>
					<width>36</width>
					<height>29</height>
					<texture>other_textures/pointer5.png</texture>
					<animation effect="fade" start="100" end="50" condition="!Control.HasFocus(50)">Conditional</animation>
					<visible>substring(Container(50).Position(15),5)</visible>
				</control>

			</focusedlayout>

			<content>
				<item id="1">
					<description>Appearance</description>
					<label>31045</label>
					<onclick>activatewindow(AppearanceSettings)</onclick>
				</item>
				<!-- <item id="2">
					<description>Videos</description>
					<label>31046</label>
					<onclick>activatewindow(VideosSettings)</onclick>
				</item>
				<item id="3">
					<description>Music</description>
					<label>31047</label>
					<onclick>activatewindow(MusicSettings)</onclick>
				</item> -->
				<!-- <item id="4">
					<description>Addons</description>
					<label>31048</label>
					<onclick>activatewindow(AddonBrowser)</onclick>
				</item> -->
				<!-- <item id="5">
					<description>Pictures</description>
					<label>31049</label>
					<onclick>activatewindow(PicturesSettings)</onclick>
				</item> -->
				<!-- <item id="6">
					<description>Weather</description>
					<label>31050</label>
					<onclick>activatewindow(WeatherSettings)</onclick>
				</item> -->
				<!-- <item id="7">
					<description>Network</description>
					<label>31051</label>
					<onclick>activatewindow(NetworkSettings)</onclick>
				</item> -->
				<item id="8">
					<description>System</description>
					<label>31052</label>
					<onclick>activatewindow(SystemSettings)</onclick>
				</item>
				<!-- <item id="9">
					<description>Profiles</description>
					<label>31053</label>
					<onclick>activatewindow(Profiles)</onclick>
				</item> -->
				<item id="10">
					<description>System Info</description>
					<label>31054</label>
					<onclick>activatewindow(7)</onclick>
				</item>
			<!-- 	<item id="11">
					<description>Custom Settings</description>
					<label>31055</label>
					<onclick>activatewindow(56)</onclick>
				</item> -->
			</content>
		</control>

		<control type="button" id="500">
			  <description>Knop links boven</description>
			  <posx>0</posx>
			  <posy>29</posy>
			  <width>51</width>
			  <height>88</height>
			  <visible>true</visible>
			  <texturefocus>buttons/links_boven_aan.png</texturefocus>
			  <texturenofocus>buttons/links_boven_beschikbaar.png</texturenofocus>
			  <align></align>
			  <aligny></aligny>
			  <onclick>ActivateWindow(Home)</onclick>
			  <onfocus>-</onfocus>
			  <onunfocus>-</onunfocus>
			  <onright>50</onright>
			  <label>31044</label>
			  <font>Title</font>
			  <textcolor>ffb87e53</textcolor>
			  <focusedcolor>ffed6504</focusedcolor>
			  <textwidth>80</textwidth>
			  <textoffsetx>5</textoffsetx>
			  <textoffsety>-26</textoffsety>
		</control>

		<control type="image" id="600">
			  <description>Knop links onder</description>
			  <posx>0</posx>
			  <posy>121</posy>
			  <width>51</width>
			  <height>88</height>
			  <texture>buttons/links_onder_uit.png</texture>
		</control>

		<control type="image" id="700">
			  <description>Knop rechts boven</description>
			  <posx>349</posx>
			  <posy>29</posy>
			  <width>65</width>
			  <height>88</height>
			  <visible>true</visible>
			  <texture>buttons/rechts_boven_uit.png</texture>
		</control>

		<control type="image" id="800">
			  <description>Knop rechts onder</description>
			  <posx>349</posx>
			  <posy>121</posy>
			  <width>65</width>
			  <height>88</height>
			  <texture>buttons/rechts_onder_uit.png</texture>
		</control>

		<control type="image" id="10">
			  <description>Streepje tussen knoppen links</description>
			  <posx>0</posx>
			  <posy>116</posy>
			  <width>30</width>
			  <height>6</height>
			  <visible>true</visible>
			  <texture>buttons/button_seperator.png</texture>
			  <aspectratio>keep</aspectratio>
		</control>

		<control type="image" id="11">
			  <description>Streepje tussen knoppen rechts</description>
			  <posx>376</posx>
			  <posy>116</posy>
			  <width>30</width>
			  <height>6</height>
			  <visible>true</visible>
			  <texture>buttons/button_seperator.png</texture>
			  <aspectratio>keep</aspectratio>
		</control>
		
		<control type="image" id="11">
			  <description>Streepje tussen knoppen rechts</description>
			  <posx>385</posx>
			  <posy>116</posy>
			  <width>30</width>
			  <height>6</height>
			  <visible>true</visible>
			  <texture>buttons/button_seperator.png</texture>
			  <aspectratio>keep</aspectratio>
		</control>

		<include>Tijd</include>

		<include>Weather</include>

		<!-- <include>Equalizer</include> -->

	</controls>

</window>